<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="/css/searchresultsnew.css">
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Leckerli+One&family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Quicksand:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  </head>
  <title>Followers</title>
  <body>
    <div class="topnav">
        <div class="row">
          <div class="col-lg-3">
            <a href="/profile"><img src="https://fontmeme.com/permalink/200726/f50048c1992eb81b297e1dd908c54d94.png" style="height: 70%; width: 40%; margin-left: 20%; margin-top: 2%;" > </a> 
          </div>
          <div class="col-lg-3 search">
           <form method="GET" action="/search">
             <input type="text"  class="form-control" placeholder="Search someone..." name="query" required autocomplete="off">
           </form>
       
          </div>
          <div class="col-1">

          </div>
          <div class="col-lg-5" >
            <span class="s1" style="margin-left: 95px;">
            <a href="/profile"><img src="https://static.thenounproject.com/png/682477-200.png" style="height: 30px; width: 30px; margin-top: 10px; margin-left: 30px;"></a>  
            </span>
            <span class="s2">
             <a href="/suggestions"> <img src="https://cdn0.iconfinder.com/data/icons/instagram-ui-1/24/Instagram-UI_discover_people-512.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"></a>
            </span>
            <span class="s3">
            <a href="/requests"> <img src="https://cdn0.iconfinder.com/data/icons/instagram-ui-1/24/Instagram-UI_like-512.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"></a> 
            </span>
            <span class="s4">
              <a href="/viewprofile/<%= loggedUser %>"><img src="<%= uimg %>" style="height: 30px; width: 30px; margin-top: 10px; margin-left: 30px; border-radius: 20px;"></a>  
              </span>
            <span class="s5">
             <a href="/logout"> <img src="https://static.thenounproject.com/png/205237-200.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"> </a>
            </span>
         </div>

    
      
        </div>
      </div>
    <% if(results.length===0) { %>
      <img src="https://cdn.dribbble.com/users/283708/screenshots/7084440/media/6cd8b29540bcfb6a7693c27f58db7b56.png" alt="" class="nothing">
    <% } %>
    <div class="container">
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: darkgrey; margin-top: 25px"> Followers </p>
        <div class="row">


                <% for(var i=0;i!=results.length;i++){ %>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12" style="border: 1px solid lightgrey; padding-left: 10px; padding-right: 10px;">
                    <div class="imageclass">
                 <a href="/viewprofile/<%= results[i].username %>"><img src="<%= results[i].profileimg %>" alt="" class="img-fluid" style="border-radius: 130px; margin-top: 10px; height: 120px; width: 120px; margin-left: 15%;"></a>  
                    </div>
                    <div class="usernameclass" style="text-align: center;">
                        <%= results[i].username %>
                    </div>
                    <div class="nameclass" style="text-align: center; color: gray;">
                        <%= results[i].name %>
                    </div>
                    

                    <div class="buttonclass">
      
                          <a href="/remove/<%= results[i].username %>"> <button class="btn btn-sm btn-danger" style="border: 1px solid lightgray; margin-top: 8px;" >Remove</button></a>
                  </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" ></div>

    
            <% } %>



        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>