<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="/css/sentreq.css">
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Quicksand:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  </head>
  <title>Requests | <%= loggedUser %></title>
  <body>
   <div class="topnav">
     <div class="row">
       <div class="col-lg-4">
        <span class="logo"><a href="/profile">💬 Blogify</a></span>
       </div>
       <div class="col-lg-3 search">
        <form method="GET" action="/search">
          <input type="text"  class="form-control" placeholder="Search something...🔍" name="query" required autocomplete="off">
        </form>
    
       </div>
       <div class="col-lg-1">
       
      </div>
       <div class="col-lg-1">
        <a href="/requests">Received Request✔</a>
       </div>
       <div class="col-lg-1">
        <a href="/sentrequests">Sent Request✔</a>
       </div>
       <div class="col-lg-1">
       <a href="/manage">Manage Account</a>
      </div>
      <div class="col-lg-1">
        <a href="/logout"><%= loggedUser %><br>📲</a>
      </div>
   
     </div>
    </div>
    <br>
    <br>
    <% if(results.length===0) { %>
      <img src="https://cdn.dribbble.com/users/283708/screenshots/7084440/media/6cd8b29540bcfb6a7693c27f58db7b56.png" alt="" class="nothing">
    <% } %>
    <div class="container">
      <% if(results.length!=0) { %>
       <h3 class="display-4" style="margin-left: 80px; font-size: 50px;">Sent Requests (<%= results.length %>)📲</h3>
       <br>
      <% } %>
      <div class="row">
        <% for(var i=0;i!=results.length;i++) { %>
            <div class="col-1 aa1">

            </div>
           <div class="col-3 aa2">
            <div class="user">
                    <img src="<%=results[i].profileimg %>" alt="" class="profileimg">
            
               
                    <h3 class="display-4 use" style="font-size: 30px;">@<%=results[i].username%></h3>
                    <h3 class="display-4 name" style="font-size: 30px;"><%=results[i].name%></h3>
                    <a href="cancel/<%=results[i].username %>"><button class="btn btn-info">Cancel Request❌</button></a>
            </div>
           </div> 
        <% } %>
      </div>
 
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>