<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="/css/userprofile.css">
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Leckerli+One&family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Quicksand:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  </head>
  <title><%= search.username %></title>
  <body>
    <div class="topnav">
        <div class="row">
          <div class="col-lg-3">
            <a href="/profile"><img src="https://fontmeme.com/permalink/200726/f50048c1992eb81b297e1dd908c54d94.png" style="height: 70%; width: 40%; margin-left: 20%; margin-top: 2%;" > </a> 
          </div>
          <div class="col-lg-3 search">
           <form method="GET" action="/search">
             <input type="text"  class="form-control" placeholder="Search someone..." name="query" required autocomplete="off">
           </form>
       
          </div>
          <div class="col-1">

          </div>
          <div class="col-lg-5" >
            <span class="s1" style="margin-left: 95px;">
            <a href="/profile"><img src="https://static.thenounproject.com/png/682477-200.png" style="height: 30px; width: 30px; margin-top: 10px; margin-left: 30px;"></a>  
            </span>
            <span class="s2">
             <a href="/suggestions"> <img src="https://cdn0.iconfinder.com/data/icons/instagram-ui-1/24/Instagram-UI_discover_people-512.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"></a>
            </span>
            <span class="s3">
              <a href="/requests"> <img src="https://cdn0.iconfinder.com/data/icons/instagram-ui-1/24/Instagram-UI_like-512.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"></a> 
            </span>
            <span class="s4">
              <a href="/viewprofile/<%= user.username %>"><img src="<%= user.profileimg %>" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px; border-radius: 20px;"></a>  
              </span>
            <span class="s5">
             <a href="/logout"> <img src="https://static.thenounproject.com/png/205237-200.png" style="height: 35px; width: 35px; margin-top: 10px; margin-left: 30px;"> </a>
            </span>
         </div>
         
    
      
        </div>
      </div>
    
      <div class="container" style="margin-top: 40px;">
        <div class="row">
          <div class="col-lg-1">

          </div>
          <div class="col-lg-3">
            <img src="<%=search.profileimg%>" style="height: 150px; width: 150px; border-radius: 80px;">
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-4">
                <h3 class="display-4" style="font-size: 40px;"><%= search.username %></h3>
              </div>
              <div class="col-2">

              </div>
              <div class="col-5">
               <% if(search.username===user.username ){ %>
          <!-- <a href="#"> <button class="btn btn-sm btn-light" style="margin-top: 20px; width: fit-content; border: 1px solid lightgray;">Delete Account</button></a>  -->
          
                <% } %>
                
                  <% if(search.username!=user.username && showblogs===true){ %>
                    <a href="/unfollow/<%= su.username %>"> <button class="btn btn-sm btn-light" style="border: 1px solid lightgray; width: fit-content; margin-top: 20px;" >Unfollow</button></a> 
                 <% } %>
                 <% if(search.username!=user.username && showblogs!=true && as===false){ %>
    
                  <a href="/send/<%= su.username %>"> <button class="btn btn-sm btn-primary" style="margin-top: 20px; width: fit-content;">Follow</button></a> 
                  <% } %>
                  <% if(search.username!=user.username && showblogs!=true && as===true) { %>
                    <a href="/cancel/<%= su.username %>"> <button class="btn btn-sm btn-light" style="border: 1px solid lightgray; width: fit-content; margin-top: 20px;" >Requested</button></a> 
                    <% } %>
               
                  
                       
              </div>
              <div class="col-1">

              </div>
            </div>
            <span class="s2">
              <h3 class="display-4" style="font-size: 30px; color: darkgrey;"><%= su.name %> </h3>
            </span>
            <div class="row" style="margin-top: 20px;">
              <div class="col-4" style="font-size: 20px;">
                <button class="btn btn-sm btn-light" style="background-color: white; font-size: 16px; width: fit-content;">
                  <%= blogs.length %> posts
                </button>
                
              </div>
             
              <div class="col-4" style="font-size: 20px;" >
                <% if(su.username===user.username) { %>
                  <a href="/followers">
                    <button class="btn btn-sm btn-light" style="background-color: white; font-size: 16px; width: fit-content;">
                      <%= su.followers.length %> followers
                    </button>
  
                  </a>
               <% } %>

               <% if(su.username!=user.username) { %>
                <a href="#">
                  <button class="btn btn-sm btn-light" style="background-color: white; font-size: 16px; width: fit-content;">
                    <%= su.followers.length %> followers
                  </button>

                </a>
             <% } %>

                
              </div>
              <div class="col-4" style="font-size: 20px;">
               <% if(su.username===user.username) { %>
                  <a href="/following">
                    <button class="btn btn-sm btn-light" style="background-color: white; font-size: 16px; width: fit-content;">
                      <%= su.following.length %> following
                    </button>
  
                  </a>
              <%  } %>
              <%  if(su.username!=user.username){ %>
                  <a href="#">
                    <button class="btn btn-sm btn-light" style="background-color: white; font-size: 16px; width: fit-content;">
                      <%= su.following.length %> following
                    </button>
  
                  </a>
              <%  } %>
                
              </div>
            </div>
            <!-- <span class="s3" style="font-size: 20px;">
              <%= blogs.length %> posts
            </span>
            <span class="s3">
              
            </span>
            <span class="s3">
              
            </span> -->
          </div>
          <div class="col-lg-2">

          </div>
          
          
            <% if(showblogs===false){ %>
              <div class="col-lg-12" style="width: 100%; height: 350px; background: url('https://follows-bc85.kxcdn.com/blog/wp-content/uploads/2018/03/Private-IG-Account.jpg'); background-repeat: no-repeat; background-position: center;"> 

              </div>
              <% } %>
              <% if(showblogs===true && blogs.length===0){ %>
                <div class="col-lg-12" style="width: 100%; height: 350px; background: url('https://www.dailydot.com/wp-content/uploads/e52/31/87610fa1a0ae891d.png'); background-repeat: no-repeat; background-position: center; background-size: 50%;"> 

                </div>
              <% } %>
            <% if(showblogs===true && blogs.length!=0){ %>
              <div class="col-1">

              </div>
              <div class="col-10" style="border-top: 1px solid lightgray; margin-top: 20px;">

              </div>
              <div class="col-1">
                
              </div>
              <div class="col-lg-1">

              </div>
              <div class="col-lg-10 posts" style="margin-top: 20px;">
                <div class="row">
                  <% blogs= blogs.reverse() %>
                  <% for(var i=0;i!=blogs.length;i++){ %>
                    <div class="col-lg-4 col-xl-4 col-md-2 col-sm-12">
                     
               <a href="/expand/<%= blogs[i]._id %>" ><img src="<%= blogs[i].image %>" class= "img-thumbnail uimg" style=" width: 335px; height: 300px;" id=<%= i %>> </a>    
                    </div>
                 <% } %>
                </div>
              </div>
              <div class="col-lg-1">
                
              </div>
              <% } %>
 

    

        </div>

      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>